<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thudemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.thudemo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.example.thudemo.HuongDan_activite"/>
         <activity
            android:name="com.example.thudemo.HuongDan_khoanthu"/>
         <activity
            android:name="com.example.thudemo.KhoanChi_acitive"/>
         <activity
            android:name="com.example.thudemo.KhoanNo_acitivite"/>
         <activity
            android:name="com.example.thudemo.KhoanThu_acitive"/>
         <activity
            android:name="com.example.thudemo.khoanvay_activite"/>
         <activity
            android:name="com.example.thudemo.TheLoaiChi"/>
           <activity
            android:name="com.example.thudemo.Thongke_acitive"/>
         <activity
            android:name="com.example.thudemo.TheLoaiT_acitivity"/>
         <activity
            android:name="com.example.thudemo.TheLoai_acitivite"/>
          <activity
            android:name="com.example.thudemo.TimKiem_Khoanno"/>
           <activity
            android:name="com.example.thudemo.TimKiem_activite"/>
            <activity
            android:name="com.example.thudemo.TimKiem_khoanchi"/>
             <activity
            android:name="com.example.thudemo.TimKiem_khoanthu"/>
              <activity
            android:name="com.example.thudemo.Timkiem_KhoanVay"/>
              <activity
            android:name="com.example.thudemo.Thongke_khoanvay"/>
              
        <activity  android:name="org.achartengine.GraphicalActivity"/>
    </application>

</manifest>
